/* svg {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background-color: #1964b0  ;
}

    
#s1{
    fill: #1964b0 ;
}
#silla11{
    fill: rgb(199, 57, 17);
}
#rect{fill:red;}
      */
